body {
    max-width: 1920px;
    margin: auto;
    background-color:#F8F8F8;
    padding: 0;
}

@font-face {
    font-family:TTLakes-Regular;
    src: url(fonts/TTLakes-Regular.woff);
}

@font-face {
    font-family:TTLakes-Medium;
    src: url(fonts/TTLakes-Medium.woff);
}

@font-face {
    font-family:TTLakes-Bold;
    src: url(fonts/TTLakes-Bold.woff);
}

.mobile {
    background-color: #FFFFFF;
    min-height: 88px;   
    justify-content: center;
    align-items: center;
    display: flex;
    border-bottom: 2px solid #D9FFF5;
} 

.desktop {
    display: none;
    min-height: 130px;
    justify-content: strart;
    flex-wrap: wrap;
}

.header__desktop {
    margin: 42px 25px 0 0;
}

.desktop__repair {
    height: 24px;
    margin-left: auto;
    color: inherit;
    text-decoration: none;
    font-family: TTLakes-Medium;
    font-size: 16px;    
    line-height: 24px;
    letter-spacing: -0.2px; 
}

.desktop__checkstatus {
    height: 24px;
    margin: 0 53px 0 73px;
    color: inherit;
    text-decoration: none;
    font-family: TTLakes-Medium;
    font-size: 16px;    
    line-height: 24px;
    letter-spacing: -0.2px; 
}

.desktop__repair-icon {
    position: absolute;
    width: 40px;
    height: 40px;
    margin: -8px 0 0 8px;
    background-image: url(images/repair.svg);
}

.desktop__checkstatus-icon {
    position: absolute;
    width: 40px;
    height: 40px;
    margin: -8px 0 0 8px;
    background-image: url(images/checkstatus.svg);
}

.desktop__slide-menu {
    margin-top: 8px;
    min-width: 65%;
}

.mobile__burger {
    margin-left: 16px;
    width: 40px;
    height: 40px;
}

.mobile__Group {
    margin-left:16px;
    width: 96.55px;
    height: 50.81px;
}

.mobile__divider--left {
    display: none;
}

.mobile__call {
    display: none;
    width: 40px;
    height: 40px;
}

.mobile__chat {
    display: none;
    width: 40px;
    height: 40px;
}

.mobile__profile {
    display: none;
    width: 40px;
    height: 40px;
}

.mobile__divider {
    margin: 0 16px 0 auto;
    padding: 0;
    width: 1px;
    height: 32px;
    border: 0.5px solid #EAEAEA;
    border-radius: 1px;
    background-color: #EAEAEA;
}



.mobile__repair {
    margin-right: 16px;
    width: 40px;
    height: 40px;
}

.mobile__checkstatus {
    margin-right: 16px;
    width: 40px;
    height: 40px;
}

.main__title {
    margin-top: 24px;
    height: 40px; 
}

.title {
    display: flex;
}

.title__text {
    margin: 0 0 0 12px;
    letter-spacing:-0.6px;
    line-height: 40px;
    font-family:TTLakes-Bold;
    font-size: 28px;
}

.title__border {
    height: 40px;
    border-left: 4px solid #41F6D7;
    border-radius: 0 6px 6px 0;    
}

.main__slide-menu {
    margin: 24px 0 0 16px;
}

.slide-menu {
    letter-spacing: -0.2px;
    color: #7E7E82;
    font-family:TTLakes-Medium;
    line-height: 24px;
    font-size: 16px;    
    white-space: nowrap;
    overflow: auto;
}

.slide-menu__button {
    padding: 8px 16px;
    background: none;
	color: inherit;
	border: hidden;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.slide-menu__button:active, .slide-menu__button:focus {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

.main__block {
    margin-top: 24px; 
}

.block__info {
    margin: 0 16px 0 16px;
}

.info__text {
    margin: 0 0 16px 0;
    letter-spacing:0.2px;
    font-family:TTLakes-Regular;
    line-height: 18px;
    font-size: 14px;
}

.info__text--hidden {
    display: none;
}

.info__expand {
    margin-left: -32px;
    width: 24px;
    height: 24px;
    position: absolute;
    background-image: url(images/expand.svg);
}

.info__button {
    font-family: TTLakes-Medium;
    line-height: 24px;
    font-size: 16px;
    margin-left: 24px;
    cursor: pointer;
    border: hidden;
    background: none;
}

.block__picture {
    margin: 16px 0 0 0;
    text-align: start;
}

.picture__main-image {
    
    margin: 0;
    max-width: 100%;
    height: auto;
}

@media (min-width: 768px) {

    .mobile__burger {
        margin-left: 24px;
    }

    .mobile__divider--left {
        margin: 0 24px 0 24px;
        display: block;
    }

    .mobile__Group {
        margin: 0 auto 0 0;  
    }

    .mobile__call {
        margin: 0 0 0 auto;
        display: block;
    }

    .mobile__chat {
        margin: 0 0 0 24px;
        display: block;
    }

    .mobile__profile {
        margin: 0 0 0 24px;
        display: block;
    }

    .mobile__divider--right {
        margin: 0 0 0 24px;
        display: block;
    }

    .mobile__repair {
        margin: 0 0 0 24px;
    }

    .mobile__checkstatus {
        margin: 0 24px 0 24px;
    }

    .title__text {
        margin-left: 20px;
    }

    .main__slide-menu {
        margin: 32px 0 0 24px;
    }

    .main__block {
        justify-content: start;
        margin: 32px 24px 0 24px;
        display: flex;
    }

    .block__info {
        margin: 0;
    }

    .info__text {
        width: 312px;
        margin-bottom: 8px;
        line-height: 20px;
    }

    .info__text--hidden {
        display: block;
    }

    .block__picture {
        margin: 0 0 0 48px;
    }

    .picture__main-image {
        margin: 0 ;
        min-width: 360px;
        height: auto;
    }  
}

@media (min-width: 940px) {

    .picture__main-image {        
        min-width: 531.35px;
    }

    .info__text {
        width: auto;
    }
}

@media (min-width: 1120px) {

    .header__mobile {
        display: none;
    }

    .main__title {
        display: none;
    }

    .main__slide-menu {
        display: none;
    }

    .desktop {
        display: flex;
    }

    .slide-menu {
        margin-left: 33px;
        white-space: wrap;
    }

    .title__text {
        margin-left: 29px;
    }

    .main__block {
        justify-content: center;
        display: flex;
        margin: 7px 25px 0 33px;
    }

    .info__text {
        margin: 9px 0 14px 0;
        line-height: 20px;
    }

    .info__text--hidden {
        display: block;
    }

    .info__text--hidden:after {
        content: ", что подтверждает большое количество постоянных клиентов. Мы гордимся тем, что к нам обращаются по рекомендациям и, в свою очередь, советуют нас родным и близким.";
    }

    .block__picture {
        margin: 0 0 0 38px;
    }

    .picture__main-image {
        min-width: 531.35px;
        height: auto;
    }
}